DATABASE_URL="file:./dev.db"
PORT=4000
CORS_ORIGIN="http://localhost:3000"

JWT_ACCESS_SECRET="change_me"
JWT_REFRESH_SECRET="change_me_too"

PAYME_MERCHANT_ID="000000000000000000000000"
PAYME_KEY="test_payme_key_change_me"
PAYME_CHECKOUT_URL="https://checkout.test.paycom.uz"

CLICK_SERVICE_ID="00000"
CLICK_MERCHANT_ID="00000"
CLICK_SECRET_KEY="test_click_secret_change_me"
CLICK_CHECKOUT_URL="https://my.click.uz/services/pay"

APP_URL="http://localhost:3000"
